html,body{
	font-family:roboto;
    
}

*:focus {
    outline: none!important;
}

.main-container{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.btn-square{
	border-radius:0;
}

.side-menu-container{
	width:200px;
	float:left;
	position:fixed;
	top:0;
	bottom:0;
	background-color:#6E3A10;
	overflow-x:hidden;
	overflow-y:scroll;
}

.side-menu-header{
	padding-top:10px;
	padding-bottom:10px;
}

.side-menu-header-logo{
	width:200px;
	height:110px;
	margin-top:10px;
	margin-bottom:10px;
	background-image:url(../images/Delonix-Regia-Logo-White.png);
	background-size:cover;
	background-position:center center;
}

.side-menu-greeting{
	text-align:center;
	color:#FFEFE3;
}

#main-menu.panel {
    border: 0px;
    border-radius: 0px;
    background-color: #FAF5EB;
}

a.list-group-item {
    border-radius: 0px;
    background-color: #FAF5EB;
    color: #876517;
    border: 0px;
}

a.list-group-item {
    border-radius: 0px !important;
    background-color: #FAF5EB;
    color: #876517;
    border: 0px;
}

a.list-group-item:hover,a.list-group-item:focus {
    background-color: #F7D08B;
    color: #876517;
}

a.list-group-sub-menu {
    background-color: #F2DAA7;
}

.main-content{
	position:absolute;
	left:200px;
	right:0;
	top:0;
	bottom:0;
	background-color:#E6E6E6;
	overflow-x:scroll;
}

.main-content-header{
	height:50px;
	width:100%;
	background-color:#C96032;
}

ul.header-items>li{
	display:inline-table;
	height:50px;
}

.side-menu-toggle{
	height: 50px;
	width: 50px;
	font-size: 1.5em;
	background-color: inherit;
	border: none;
	color:#FFFFFF;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.side-menu-toggle:hover{
	background-color: #F57945;
}

.page-title{
	font-weight:100;
	font-size:1.5em;
	color:#FFFFFF;
	max-width:500px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.main-content-animator{
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

.header-left{
	float:left;
}

.page-content{
	margin-top:10px;
	margin-left:5px;
	margin-right:5px;
}

.card{
	background-color:#FFFFFF;
	margin-bottom:20px;
	-webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
	margin-left:25px;
	margin-right:25px;
}

.card-header{
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	
	background-color:#0077FF;
}

.card-title{
	font-weight:100;
	font-size:1.7em;
	color:#FFFFFF;
}

.card-subtitle{
	color:#FFFFFF;
	font-weight:300;
	font-size:1em;
}

.card-main-content{
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:20px;
}

.material-input{
	margin-top:10px;
}

.material-input-floating-lbl{
	margin-top:5px;
	padding-top:20px;
	margin-bottom:20px;
}

.material-input>input,.contact-table td input{
	border:none;
	border-bottom:1px solid #E8E8E8;
	width:100%;
	background-color:#FFFFFF;
	font-size:1.1em;
	height:25px;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.material-input>input:focus,.contact-table td input:focus{
	border-bottom:1px solid #12C8FF;
}

ul.input-list li{
	display:inline-table;
}

ul.input-list li:not(:first-child){
	margin-left:20px;
}

.material-input-floating-lbl>.placeholder{
	position:absolute;
	margin-top:-25px;
	font-weight:300;
	color:#9C9C9C;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	transition: all .1s ease-out;
	cursor:grab;
	font-size:1.1em;
}

.placeholder-fixed{
	color:#636363;
	font-weight:300;
	font-size:1.1em;
}

.select-style select{
	background-color:transparent;
	padding-left:5px;
	padding-right:5px;
	border:none;
	border-radius:0;
	-webkit-appearance:none;
	width:100px;
}

.select-style{
	display:inline-table;
	width:100px;
	border-bottom:1px solid #E8E8E8;
	height:calc(100% - 2px);
	background-color:#FFFFFF;
	background-image:url(../images/select.png);
	background-position:right calc(100% - 7px);
	background-repeat:no-repeat;
}

.material-input-floating-lbl-active>.placeholder{
	margin-top:-50px;
	color:#636363;
}

.input-switch{
	text-align:center;
}

.select-switch{
	width:50px;
	height:15px;
	background-color:#CFCFCF;
	border-radius:10px;
	vertical-align:middle;
	position:relative;
	cursor:hand;
	
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.select-switch:before{
	content:"";
	position:absolute;
	top:-5px;
	left:-5px;
	width:25px;
	height:25px;
	border-radius:50%;
	background-color:#F2F2F2;
	
	
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.switch-off{
	
}

.switch-on{
	background-color:#8CC4F5;
}

.switch-on:before{
	background-color:#41A0F2;
	left:30px;
}

.switch-on.switch-pink{
	background-color:#F7A8C8 !important;
}

.switch-on.switch-pink:before{
	background-color:#FF6EA8 !important;
}

.smoking-icon{
	display:inline-block;
	width:15px;
	height:15px;
	background-image:url(../images/smoking-icon.png);
	background-size:15px 15px;
	background-repeat:no-repeat	;
}

.input-switch-lbl{
	vertical-align:middle;
	height:15px;
}

.inline-switch{
	width:100px;
}

.inline-switch, .inline-placeholder{
	display:inline-table;
}

.material-input>textarea{
	border:none;
	border-bottom:1px solid #E8E8E8;
	width:100%;
	background-color:#FFFFFF;
	font-size:1.1em;
	height:25px;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	transition: all .2s ease-out;
	resize:none;
	max-height:150px;
}

.material-input>textarea:focus{
	border-bottom:1px solid #12C8FF;
}

.image-select ul li{
	display:inline-table;
}

.image-select-description{
	text-align:center;
	font-size:30px;
	font-weight:100;
}

.image-select{
	width:95%;
	max-width:405px;
	margin-left:auto;
	margin-right:auto;
}

.image-select ul li .image-select-card{
	height:200px;
	width:200px;
	cursor:pointer;
	
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.image-select ul li .image-select-card:hover{
	background-color:#EDEDED;
}

.image-select-card-selected{
	background-color:#D6D6D6!important;
}

.image-select-image{
	width:150px;
	height:150px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-size:100px;
}

.form-triggers{
	display:none;
}

.card-section-title{
	font-size:1.5em;
	font-weight:300;
}

.contact-table-delete-btn{
    background: #FFFFFF;
    border: none;
    color: #FF5E5E;
}

.form-submit-menu{
	text-align:center;
	margin-bottom:20px;
}

.list-view-container{
	margin-left:50px;
	margin-right:50px;
	margin-bottom:25px;
	margin-top:25px;
	background-color:#FFFFFF;
	-webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}

.lv-title{
	font-size:1.2em;
	font-weight:300;
	color:#818181;
	
	
}

.lv-header{
	background-color:#F8F8F8;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
}

.lv-item{
	background-color:#FFFFFF;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
	min-height:75px;
	position:relative;
	
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

.lv-item:hover{
	background-color:#E9E0FF;
}

.lv-bordered>.lv-header{
	border-bottom:1px solid #F0F0F0;
}

.lv-bordered>.lv-main-container>.lv-item:not(:last-child){
	border-bottom:1px solid #F0F0F0;
}

.lv-photo-container{
	height:50px;
	width:50px;
	float:left;
}

.lv-photo-container>img{
	max-width:50px;
	max-height:50px;
	border-radius:50%;
}

.photo-placeholder{
	height:50px;
	width:50px;
	border-radius:50%;
    text-align: center;
    line-height: 49px;
    font-size: 25px;
    padding: 0 !important;
    text-transform: uppercase;
	background-color:pink;
	color:#FFFFFF;
	font-weight:300;
}

.lv-item-content{
	width:auto;	
	display:inline-table;
	margin-left:15px;
	vertical-align:top;
}

.lv-item-title{
	font-size:1.2em;
	color:#4D4D4D;
	
	max-width:200px;
	
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.lv-meta>li{
	display:inline-table;
	border:1px solid #EDEDED;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#FFFFFF;
	color:#A8A8A8;
	font-size:0.8em;
}

.lv-item-menu{
	/*float:right;*/
	position:absolute;
	top:0;
	right:25px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	
	vertical-align:top;
	font-size:1.5em;
	color:#787878;
	
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

.lv-item-menu>a{
	color:#787878;
}

.lv-item-menu>i{
	vertical-align:middle;
}

.lv-dropdown{
	top:32px;
	border-radius:0;
}


.lv-item-menu>a:hover{
	color:#404040;
}

.card-orange>.card-header{
	background-color:#F76A0C;
}

.card-gold>.card-header{
	background-color:#F2A20C;
}

.card-teal>.card-header{
	background-color:#0ECFAF;
}

.material-side-button{
	position:fixed;
	bottom:40px;
	right:40px;
	height:30px;
	width:30px;
	
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

.material-side-button>a{
	background-color:#F50C88;
	height:50px;
	width:50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
	border-radius:50%;
    text-align: center;
    line-height: 49px;
    font-size: 35px;
    text-transform: uppercase;
	color:#FFFFFF;
	font-weight:100;
	
	-webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
	
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.material-side-button>a:hover{
	text-decoration:none;
	background-color:#D4009B;
}

.sb-button-hidden{
	right:-50px;
	bottom:-300px;
}

@media screen and (max-width: 767px) {
	/*Mobile Devices*/
	
	.hide-mobile {
    	display: none;
	}

	.hide-desktop {
    	display: block;
	}
	
	.main-content{
		width:100% !important;
	}
	
	.lv-item-content{
		display:block;
	}
	
	.lv-item-title{
		padding-left:10px;
		padding-top:10px;
	}
	
	.lv-meta{
		clear:both;
		margin-left:-10px;
		padding-top:10px;
	}
	.lv-meta>li{
		margin-bottom:5px;
	}
	
	.list-view-container{
		margin-left:20px;
		margin-right:20px;
	}
}

@media screen and (min-width: 767px) {
	
	/*Desktop*/
	
    .hide-mobile {
        display: block;
    }

    .hide-desktop {
        display: none;
    }
}