@media screen and (max-width: 760px) {
  .rfs-hide-mobile {
    display: none; }

  .rfs-hide-desktop {
    display: block; } }
@media screen and (min-width: 760px) {
  .rfs-hide-mobile {
    display: block; }

  .rfs-hide-desktop {
    display: none; } }
*:focus {
  outline: none; }

body {
  position: relative; }

.login-form {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px; }

.rfs-card-container {
  min-height: 200px;
  overflow: hidden;
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  height: auto; }

.rfs-input-material {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 8px; }

.rfs-input-material > input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  font-size: 1.1em;
  height: 25px;
  border-radius: 0px !important;
  font-weight: 300;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.rfs-input-material > input:focus {
  border-bottom: 1px solid #C933FF; }

.rfs-floating-lbl > label.placeholder {
  position: absolute;
  margin-top: -23px;
  font-weight: 300;
  color: #9C9C9C;
  font-size: 1.1em;
  cursor: text;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

.rfs-fl-active > label.placeholder {
  margin-top: -40px;
  color: #636363;
  font-size: 1em;
  font-weight: 500; }

.rfs-input-material > label.placeholder > i {
  font-size: 0.9em;
  vertical-align: middle; }

.rfs-fl-active > label.placeholder > i {
  font-size: 0.8em; }

.rfs-btn-m {
  background: transparent;
  border: 0;
  border-radius: 0;
  font-size: 1.1em;
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.rfs-card-footer > a {
  font-size: 1.2em; }

.rfs-btn-m-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1); }

.rfs-btn-m-green {
  color: #FFFFFF;
  background-color: #5CB85C; }

.rfs-btn-m-w-blue {
  color: #4580FF; }

.rfs-btn-m-w-blue:hover {
  color: #4580FF;
  text-decoration: none;
  background-color: #F2F2F2; }

.rfs-btn-m-large {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.2em; }

.rfs-input-hint {
  font-size: 0.9em;
  color: #585959; }

.rfs-validation-error {
  color: #F73B74;
  display: none; }

.rfs-validation-f-error > input {
  border-color: #CF194F !important; }

.rfs-validation-f-error > label.placeholder {
  color: #CF194F; }

.rfs-m-container {
  width: 100%;
  background-color: #F5F5F5; }

.rfs-card-header {
  font-size: 1.5em;
  font-weight: 100;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: #FFFFFF;
  background-color: #4580FF; }

.rfs-card-content {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px; }

.rfs-card-footer {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px; }

.rfs-card-footer-right {
  text-align: right; }

.rfs-cb-m {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  height: 30px;
  width: 30px; }

.rfs-cb-m svg {
  width: 25px;
  height: 25px;
  padding: 2px; }

.rfs-cb-m svg > path {
  stroke-width: 13px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  stroke: #FFFFFF; }

.rfs-cb-m, .rfs-cb-label {
  display: inline-table; }

.rfs-cb-label {
  margin-top: -10px; }

.rfs-cb-target {
  display: none; }

/*Modal*/
.rfs-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100; }

.rfs-modal-content {
  z-index: 101;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 600px;
  min-height: 250px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  margin-top: 25px; }

.rfs-modal-header {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 1.5em;
  font-weight: 600;
  color: #2B2B2B; }

.rfs-modal-main {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 10px; }

.rfs-modal-lg > .rfs-modal-content {
  max-width: 1000px; }

/*Menu*/
.rfs-header {
  height: 50px;
  width: 100%;
  background-color: #4A86ED; }

.rfs-drawer-button {
  width: 50px;
  height: 50px !important;
  background-color: inherit;
  font-size: 1.5em;
  border: none; }

.rfs-drawer-button > i {
  text-align: center;
  color: #FFFFFF; }

.rfs-overlay-menu-blinds {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.6);
  display: none; }

.rfs-overlay-menu-hot-spot {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  display: none; }

.rfs-overlay-menu {
  position: absolute;
  left: -1000px;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 300px;
  z-index: 999;
  background-color: #FFFFFF;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.rfs-overlay-menu-items {
  list-style: none; }

.rfs-overlay-menu-items {
  width: 100%;
  margin-left: 0px;
  padding-left: 0px; }

.rfs-overlay-menu-header {
  font-size: 1.5em;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #414142;
  font-weight: 300; }

.rfs-overlay-menu-items > li > a {
  text-decoration: none;
  width: 100%;
  display: block;
  font-size: 1.1em;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.rfs-overlay-menu-items > li > a:hover {
  background-color: #E8E8E8; }

/*Grid System*/
.rfs-g-md-* {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: top; }

@media screen and (max-width: 760px) {
  /*Mobile*/
  .rfs-g-md-12, .rfs-g-md-11, .rfs-g-md-10, .rfs-g-md-9, .rfs-g-md-8, .rfs-g-md-7, .rfs-g-md-6, .rfs-g-md-5, .rfs-g-md-4, .rfs-g-md-3, .rfs-g-md-2, .rfs-g-md-1 {
    width: 100%;
    display: inline-table; } }
@media screen and (min-width: 760px) {
  /*Desktop*/
  .rfs-g-md-4 {
    width: 32%;
    display: inline-table; }

  .rfs-g-md-8 {
    width: 64%;
    display: inline-table; } }

/*# sourceMappingURL=iscout-red-fox.css.map */
