* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input, textarea {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important; }

textarea, input {
  border-radius: 0; }

@media screen and (max-width: 760px) {
  .rfs-hide-mobile {
    display: none; }

  .rfs-hide-desktop {
    display: block; } }
@media screen and (min-width: 760px) {
  .rfs-hide-mobile {
    display: block; }

  .rfs-hide-desktop {
    display: none; } }
*:focus {
  outline: none; }

body {
  position: relative;
  background-color: #F0F0F0; }

.login-form {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px; }

.rfs-card-container {
  min-height: 200px;
  overflow: hidden;
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease-out !important;
  -moz-transition: all 0.5s ease-out !important;
  transition: all 0.5s ease-out !important;
  height: auto; }

.rfs-input-material {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 8px; }

.rfs-input-material > input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  font-size: 1.1em;
  height: 25px;
  border-radius: 0px !important;
  font-weight: 300;
  -webkit-transition: all 0.2s ease-out !important;
  -moz-transition: all 0.2s ease-out !important;
  transition: all 0.2s ease-out !important; }

.rfs-input-material > input:focus {
  border-bottom: 1px solid #C933FF; }

.rfs-floating-lbl > label.placeholder {
  position: absolute;
  margin-top: -23px;
  font-weight: 300;
  color: #9C9C9C;
  font-size: 1.1em;
  cursor: text;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.1s ease-out !important;
  -moz-transition: all 0.1s ease-out !important;
  transition: all 0.1s ease-out !important; }

.rfs-fl-active > label.placeholder {
  margin-top: -40px;
  color: #636363;
  font-size: 1em;
  font-weight: 500; }

.rfs-input-material > label.placeholder > i {
  font-size: 0.9em;
  vertical-align: middle; }

.rfs-fl-active > label.placeholder > i {
  font-size: 0.8em; }

.rfs-btn-m {
  background: transparent;
  border: 0;
  border-radius: 0;
  font-size: 1.1em;
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: all 0.5s ease-out !important;
  -moz-transition: all 0.5s ease-out !important;
  transition: all 0.5s ease-out !important; }

.rfs-card-footer > a {
  font-size: 1.2em; }

.rfs-btn-m-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1); }

.rfs-btn-m-green {
  color: #FFFFFF;
  background-color: #5CB85C; }

.rfs-btn-m-w-blue {
  color: #4580FF; }

.rfs-btn-m-w-blue:hover {
  color: #4580FF;
  text-decoration: none;
  background-color: #F2F2F2; }

.rfs-btn-m-large {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.2em; }

.rfs-input-hint {
  font-size: 0.9em;
  color: #585959; }

.rfs-validation-error {
  color: #F73B74;
  display: none; }

.rfs-validation-f-error > input {
  border-color: #CF194F !important; }

.rfs-validation-f-error > label.placeholder {
  color: #CF194F; }

.rfs-m-container {
  width: 100%;
  background-color: #F5F5F5; }

.rfs-card-header {
  font-size: 1.5em;
  font-weight: 100;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: #FFFFFF;
  background-color: #4580FF; }

.rfs-card-content {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px; }

.rfs-card-footer {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px; }

.rfs-card-footer-right {
  text-align: right; }

.rfs-cb-m {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  height: 30px;
  width: 30px; }

.rfs-cb-m svg {
  width: 25px;
  height: 25px;
  padding: 2px; }

.rfs-cb-m svg > path {
  stroke-width: 13px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  stroke: #FFFFFF; }

.rfs-cb-m, .rfs-cb-label {
  display: inline-table; }

.rfs-cb-label {
  margin-top: -10px; }

.rfs-cb-target {
  display: none; }

/*Modal*/
.rfs-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100; }

.rfs-modal-content {
  z-index: 101;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 600px;
  min-height: 250px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  margin-top: 25px; }

.rfs-modal-header {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 1.5em;
  font-weight: 600;
  color: #2B2B2B; }

.rfs-modal-main {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 10px; }

.rfs-modal-lg > .rfs-modal-content {
  max-width: 1000px; }

/*Menu*/
.rfs-header {
  top: 0 !important;
  height: 50px;
  width: 100%;
  background-color: #AC28ED;
  position: fixed;
  z-index: 9999; }

.rfs-drawer-button {
  height: 50px !important;
  background-color: inherit;
  font-size: 1.5em;
  border: none; }

.rfs-drawer-button > i {
  text-align: center;
  color: #FFFFFF; }

.rfs-overlay-menu-blinds {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.6);
  display: none; }

.rfs-overlay-menu-hot-spot {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  display: none;
  -webkit-overflow-scrolling: unset; }

.page-content {
  padding-top: 55px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

.rfs-overlay-menu {
  position: absolute;
  left: -1000px;
  top: 0;
  bottom: 0;
  width: 70%;
  max-width: 300px;
  z-index: 999;
  background-color: #FFFFFF;
  -webkit-transition: all 0.3s ease-out !important;
  -moz-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important; }

.rfs-overlay-menu-items {
  list-style: none; }

.rfs-overlay-menu-items {
  width: 100%;
  margin-left: 0px;
  padding-left: 0px; }

.rfs-overlay-menu-header {
  font-size: 1.5em;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #414142;
  font-weight: 300; }

.rfs-header > ul > li, .rfs-header > ul {
  list-style: none;
  display: inline-block; }

.rfs-header > ul {
  margin-left: -40px; }

.rfs-overlay-menu-items > li > a {
  text-decoration: none;
  width: 100%;
  display: block;
  font-size: 1.1em;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
  -webkit-transition: all 0.2s ease-out !important;
  -moz-transition: all 0.2s ease-out !important;
  transition: all 0.2s ease-out !important; }

.rfs-overlay-menu-items > li > a:hover {
  background-color: #E8E8E8; }

.rfs-header-title {
  font-size: 1.4em;
  font-weight: 300;
  color: #FFFFFF; }

/*Grid System*/
.rfs-g-md-* {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: top; }

@media screen and (max-width: 760px) {
  /*Mobile*/
  .rfs-g-md-12, .rfs-g-md-11, .rfs-g-md-10, .rfs-g-md-9, .rfs-g-md-8, .rfs-g-md-7, .rfs-g-md-6, .rfs-g-md-5, .rfs-g-md-4, .rfs-g-md-3, .rfs-g-md-2, .rfs-g-md-1 {
    width: 100%;
    display: inline-table;
    padding-top: 5px; } }
@media screen and (min-width: 760px) {
  /*Desktop*/
  .rfs-g-md-4 {
    width: 32%;
    display: inline-table; }

  .rfs-g-md-8 {
    width: 64%;
    display: inline-table; } }
/*List View*/
.list-view-container {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2); }

.lv-title {
  font-size: 1.2em;
  font-weight: 300;
  color: #818181; }

.lv-header {
  background-color: #F8F8F8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; }

.lv-item {
  background-color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 75px;
  position: relative;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out; }

.lv-item:hover {
  background-color: #E9E0FF; }

.lv-bordered > .lv-header {
  border-bottom: 1px solid #F0F0F0; }

.lv-bordered > .lv-main-container > .lv-item:not(:last-child) {
  border-bottom: 1px solid #F0F0F0; }

.lv-photo-container {
  height: 50px; }

.lv-photo-container > img {
  height: 50px;
  width: 50px;
  border-radius: 50%; }

.photo-placeholder {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 49px;
  font-size: 25px;
  padding: 0 !important;
  text-transform: uppercase;
  background-color: pink;
  color: #FFFFFF;
  font-weight: 300; }

.lv-item-content {
  width: auto;
  display: inline-table;
  vertical-align: top;
  margin-top: 10px; }

.lv-item-content > .lv-item-title {
  font-size: 1.2em;
  color: #4D4D4D;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.lv-photo-container > .lv-item-title {
  margin-top: -25px;
  margin-left: 60px;
  font-size: 1.2em;
  color: #4D4D4D; }

.lv-meta {
  margin-left: -40px; }

.lv-meta > li {
  display: inline-table;
  border: 1px solid #EDEDED;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #FFFFFF;
  color: #A8A8A8;
  font-size: 0.8em; }

.lv-item-menu {
  /*float:right;*/
  position: absolute;
  top: 0;
  right: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
  font-size: 1.5em;
  color: #787878;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  transition: all .1s ease-out; }

.lv-item-menu > a {
  color: #787878; }

.lv-item-menu > i {
  vertical-align: middle; }

.lv-dropdown {
  top: 32px;
  border-radius: 0; }

.lv-item-menu > a:hover {
  color: #404040; }

.lv-link, .lv-link:hover, .lv-link:active {
  text-decoration: none; }

.lv-side-menu {
  float: right; }

.lv-side-button {
  border: none;
  background: transparent; }

.lv-refresh-active {
  color: #8F6BFA;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; }

.list-view-container > .lv-main-container:not(:last-child) > .lv-item {
  border-bottom: 1px solid #F5F5F5; }

.lv-main-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*Profile*/
.rfs-profile-image {
  text-align: center;
  margin-bottom: 25px; }

.rfs-profile-image > img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%; }

/*Mobile*/
.rfs-profile-line > dl > dt, .rfs-profile-line > dl > dd {
  display: block; }

.rfs-profile-line > dl > dd {
  margin-left: 0; }

.rfs-profile-line {
  width: 100%; }

.rfs-profile-line > dl > dd {
  font-weight: 400; }

.rfs-profile-line > dl > dd {
  font-weight: 300; }

/*Forms*/
.rfs-forms-textarea {
  width: 100%;
  resize: none;
  border: none;
  min-height: 150px;
  border-bottom: 1px solid #E0E0E0;
  color: #8F8F8F;
  -webkit-transition: all 0.5s ease-out !important;
  -moz-transition: all 0.5s ease-out !important;
  transition: all 0.5s ease-out !important; }

.rfs-forms-textarea:focus {
  border-bottom: 1px solid #BA89FA;
  color: #383838; }

/*noUISlider Extension*/
.noUi-horizontal {
  margin-top: 5px;
  border: none;
  background-color: #108F73;
  height: 8px;
  border-radius: 0;
  box-shadow: none; }

.noUi-handle:before, .noUi-handle:after {
  content: none; }

.noUi-horizontal .noUi-handle {
  top: -10px;
  height: 25px;
  width: 25px;
  border: none;
  background-color: #D10D75;
  box-shadow: none;
  border-radius: 100%;
  left: 0px;
  right: -17px; }

.noUi-origin {
  background-color: #DEDEDE; }

.noUi-stacking .noUi-handle {
  margin-left: -17px; }

.noUi-handle .noUi-stacking {
  left: -17px; }

.rfs-forms-slider-values {
  margin-top: 10px; }

.rfs-forms-slider-values-min, .rfs-forms-slider-values-max {
  display: inline-table;
  font-size: 1.2em;
  font-weight: 300; }

.rfs-forms-slider-values-current {
  text-align: center;
  margin-top: -1.2em;
  font-size: 1.2em;
  font-weight: 600; }

.rfs-forms-slider-values-current-value {
  border-bottom: 1px solid #E0E0E0;
  color: #8F8F8F;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-transition: all 0.5s ease-out !important;
  -moz-transition: all 0.5s ease-out !important;
  transition: all 0.5s ease-out !important; }

.rfs-forms-slider-values-current-value-active {
  border-bottom: 1px solid #BA89FA;
  color: #383838; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.rfs-forms-slider-values-max {
  float: right; }

.rfs-forms-slider-values-current-value-editor {
  min-width: 50px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #BA89FA;
  text-align: center;
  -webkit-transition: all 0.2s ease-out !important;
  -moz-transition: all 0.2s ease-out !important;
  transition: all 0.2s ease-out !important; }

.rfs-forms-slider-values-current-value-editor-error-desc {
  font-size: 0.7em;
  color: #FC3564; }

/*Animations*/
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*# sourceMappingURL=iscout-red-fox.css.map */
