$tp-red : #F1001C;
@mixin animate-simple($target,$duration) {
  -webkit-transition: $target $duration ease-out;
  -moz-transition: $target $duration ease-out;
  transition: $target $duration ease-out;
}

body{
  font-family: roboto, Helvetica;
}

.login-container{
  position:absolute;
  min-width:400px;
  max-width: 95%;
}

.login-branding{
  width:100%;
  height:62px;
  padding-top:10px;
  padding-bottom:10px;
  background-color:$tp-red;
}

.login-branding>img{
  margin-left: auto;
  margin-right: auto;
  padding-left:15px;
  height:42px;
  width:150px;
}

.login-header{
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  margin-top:10px;

}

.login-background-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-image: url('../images/bg_.jpg');
  background-size: cover;
  background-position: top center;
  -moz-transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
  overflow: hidden;
  z-index: -1;
  -webkit-filter: blur(2px);
}

.login-footer{
  text-align: right;
  color: #FFFFFF;
  margin-top:-10px;
  position: absolute;
  right:10px;
  @include animate-simple(all,'0.5s');
}

.footer-quote{
  display:none;
}

.loading-message{
  text-align: center;
  font-size: 1.3em;
  font-weight: 300;
  padding-bottom:10px;
}

.login-loading-container{
  display:none;
}

.login-feedback{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  margin-top:10px;
  margin-bottom:10px;

  text-align: center;
  color: #F547A9;
  background-color: #FFEDF7;
  font-size:1.2em;
  font-weight: 300;
  display:none;
}

.login-form-elements{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.offline-page-title{
  text-align: center;
  font-size: 1.3em;
  font-weight: 300;
  color: #616161;
}

.offline-page{
  text-align: center;
  margin-top:50px;
}

.assessment-container{
  margin-top:25px;
  margin-bottom:25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.student-info{
  padding-top: 25px;
  padding-bottom: 25px;
}

.student-info{
  font-size: 1.1em;
}

.marking-scheme-item{
  margin-top:10px;
  margin-bottom:10px;
}

.marking-scheme-title{
  font-size:1.3em;
  font-weight: 300;
  color:#363636;
}

.marking-scheme-description{

}

.marking-scheme-slider-header{
  font-size:1.2em;
  font-weight: 300;
  color:#363636;
}

.marking-scheme-slider{
  margin-top:10px;
}

.marking-scheme-remarks{
  margin-top:10px;
}

.marking-scheme-item:not(:last-child){
  padding-bottom:10px;
  border-bottom:1px dashed #E6E6E6;
}
