<?xml version='1.0' encoding='utf-8'?>
<widget id="sg.edu.tp.SIPGrading" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SIP Grading</name>
    <description>
        Grading Client for Structured Internship Program
    </description>
    <author email="1302312B@student.tp.edu.sg" href="http://tp.edu.sg">
        Lim Cheng Kai
    </author>
    <author email="1307253C@student.tp.edu.sg" href="http://tp.edu.sg">
        Patrick Tan
    </author>
    <author email="1300223C@student.tp.edu.sg" href="http://tp.edu.sg">
        Shawn Lim
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
