@mixin animate-simple($target,$duration) {
  -webkit-transition: $target $duration ease-out !important;
  -moz-transition: $target $duration ease-out !important;
  transition: $target $duration ease-out !important;
}

@mixin drop-shadow() {
  -webkit-box-shadow: 8px 7px 29px -10px rgba(0,0,0,0.48);
  -moz-box-shadow: 8px 7px 29px -10px rgba(0,0,0,0.48);
  box-shadow: 8px 7px 29px -10px rgba(0,0,0,0.48);
}

$input-default-color : #E8E8E8;
$input-active-color : #C933FF;
$default-blue: #4580FF;
$input-text-default: #8F8F8F;
$input-text-active: #383838;

$notify-success-bg: #0CA644;
$notify-success-border: #097D33;
$notify-fail-bg: #D92356;
$notify-fail-border: #AD1F47;
$notify-info-bg: #3461C9;
$notify-info-border: #264EAB;

*
{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input,textarea
{
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

textarea,input{
  border-radius: 0;
}

@media screen and (max-width: 760px) {
  .rfs-hide-mobile {
    display: none;
  }

  .rfs-hide-desktop {
    display: block;
  }
}

@media screen and (min-width: 760px) {
  .rfs-hide-mobile {
    display: block;
  }

  .rfs-hide-desktop {
    display: none;
  }
}


*:focus{
  outline:none!important;
}

body{
  position: relative;
  background-color: #EDE7F6;
}

.login-form{
  width:95%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:10px;
}

.rfs-card-container{
  min-height:200px;
  overflow:hidden;
  background-color:#FFFFFF;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(000,000,000,0.15),0 3px 1px -2px rgba(000,000,000,0.2),0 1px 5px 0 rgba(000,000,000,0.10);
  @include animate-simple(all,0.5s);
  height: auto;
}

.rfs-input-material{
  margin-top:5px;
  margin-bottom:10px;
  padding-top:8px;
}

.rfs-input-material>input{
  width:100%;
  border:none;
  border-bottom: 1px solid $input-default-color;
  font-size:1.1em;
  height:25px;
  border-radius: 0px!important;
  font-weight: 300;
  @include animate-simple(all,0.2s);
}

.rfs-input-material>input:focus{
  border-bottom: 1px solid $input-active-color;
}

.rfs-floating-lbl>label.placeholder{
  position:absolute;
  margin-top:-23px;
  font-weight:300;
  color:#9C9C9C;
  font-size:1.1em;
  cursor:text;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include animate-simple(all,0.1s);
}

.rfs-fl-active>label.placeholder{
  margin-top:-40px;
  color: #636363;
  font-size:1em;
  font-weight:500;
}

.rfs-input-material>label.placeholder>i{
  font-size: 0.9em;
  vertical-align: middle;
}

.rfs-fl-active>label.placeholder>i{
  font-size: 0.8em;
}

.rfs-btn-m{
  background: transparent;
  border: 0;
  border-radius: 0;
  font-size:1.1em;
  font-weight:300;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  @include animate-simple(all,0.5s);
}

.rfs-btn-m-full{
  width: 100%;
}

.rfs-card-footer>a{
  font-size: 1.2em;
}

.rfs-btn-m-shadow{
  box-shadow: 0 2px 2px 0 rgba(000,000,000,0.15),0 3px 1px -2px rgba(000,000,000,0.2),0 1px 5px 0 rgba(000,000,000,0.10);
}

.rfs-btn-m-green{
  color:#FFFFFF;
  background-color: #5CB85C;
}

.rfs-btn-m-red:hover{
  background: #FF4242;
  color: #FFFFFF;
}

.rfs-btn-m-w-blue{
  color: $default-blue;
}

.rfs-btn-m-w-blue:hover{
  color: $default-blue;
  text-decoration: none;
  background-color: #F2F2F2;
}

.rfs-btn-m-large{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.2em;
}

.rfs-input-hint{
  font-size:0.9em;
  color:#585959;
}

.rfs-validation-error{
  color:#F73B74;
  display:none;
}

.rfs-validation-f-error>input{
  border-color:#CF194F !important;
}

.rfs-validation-f-error>label.placeholder{
  color:#CF194F;
}

.rfs-m-container{
  width:100%;
  background-color: #F5F5F5;
}

.rfs-card-header{
  font-size: 1.5em;
  font-weight: 100;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: #FFFFFF;
  background-color: $default-blue;
}

.rfs-card-content{
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.rfs-card-footer{
  padding-top:5px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
}

.rfs-card-footer-right{
  text-align: right;
}

.rfs-cb-m{
  border:2px solid #FFFFFF;
  border-radius: 2px;
  height:30px;
  width: 30px;
}

.rfs-cb-m svg{
  width:25px;
  height:25px;
  padding:2px;
}

.rfs-cb-m svg>path{
  stroke-width: 13px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  stroke: #FFFFFF;
}

.rfs-cb-m,.rfs-cb-label{
  display:inline-table;
}

.rfs-cb-label{
  margin-top: -10px;
}

.rfs-cb-target{
  display:none;
}

/*Modal*/

.rfs-modal-container{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(000,000,000,0.8);
  z-index: 100;
}

.rfs-modal-content{
  z-index: 101;
  position: fixed;
  background-color:#FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 600px;
  min-height: 250px;
  @include drop-shadow();
  margin-top: 25px;
}

.rfs-modal-header{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 1.5em;
  font-weight:600;
  color: #2B2B2B;
}

.rfs-modal-main{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 10px;
  position: fixed;
  width:100%;
}

.rfs-modal-lg>.rfs-modal-content{
  max-width: 1000px;
}

/*Menu*/
.rfs-header{
  top:0!important;
  height: 50px;
  width: 100%;
  background-color: #673AB7;
  position:fixed;
  z-index:9999;
}

.rfs-drawer-button{
  height: 50px !important;
  background-color: inherit;
  font-size:1.5em;
  border: none;

}

.rfs-drawer-button>i{
  text-align: center;
  color: #FFFFFF;
}

.rfs-overlay-menu-blinds{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 998;
  background-color: rgba(000,000,000,0.6);
  display:none;
}

.rfs-overlay-menu-hot-spot{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  display:none;
  -webkit-overflow-scrolling: unset;
}

.page-content{
  padding-top:55px;
  max-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.page-content-header{
  margin-top:-5px;
  background-color: #673AB7;
  min-height:150px;
}

.rfs-page-single-paper-container{
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -125px;

}

.rfs-page-single-paper{
  @include drop-shadow();
  background-color: #FFFFFF;
  margin-top: 25px;
  margin-bottom:10px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.rfs-page-single-paper-header{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 35%;
  font-size: 1.2em;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #5E49D6;
}

.rfs-overlay-menu{
  position: absolute;
  left: -1000px;
  top: 0;
  bottom: 0;
  width: 70%;
  max-width: 300px;
  z-index: 999;
  background-color: #FFFFFF;
  @include animate-simple(all,0.3s);
}

.rfs-overlay-menu-items{
  list-style: none;
}

.rfs-overlay-menu-items{
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
}

.rfs-overlay-menu-header{
  font-size: 1.5em;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #414142;
  font-weight: 300;
}

.rfs-header>ul>li,.rfs-header>ul{
  list-style: none;
  display: inline-block;
}

.rfs-header>ul{
  margin-left: -40px;
}

.rfs-overlay-menu-items>li>a{
  text-decoration: none;
  width: 100%;
  display: block;
  font-size: 1.1em;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
  @include animate-simple(all,0.2s);
}

.rfs-overlay-menu-items>li>a:hover{
  background-color: #E8E8E8;
}

.rfs-header-title{
  font-size: 1.4em;
  font-weight: 300;
  color: #FFFFFF;
}

/*Grid System*/
.rfs-g-md-*{
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: top;
}

@media screen and (max-width: 760px) {
  /*Mobile*/
  .rfs-g-md-12,.rfs-g-md-11,.rfs-g-md-10,.rfs-g-md-9, .rfs-g-md-8,.rfs-g-md-7,.rfs-g-md-6,.rfs-g-md-5,.rfs-g-md-4,.rfs-g-md-3,.rfs-g-md-2,.rfs-g-md-1{
    width: 100%;
    display: inline-table;
    padding-top: 5px;
  }
}

@media screen and (min-width: 760px) {
  /*Desktop*/
  .rfs-g-md-4{
    width: 32%;
    display: inline-table;
  }
  .rfs-g-md-8{
    width: 64%;
    display: inline-table;
  }
}

/*List View*/
.list-view-container{
  margin-left:25px;
  margin-right:25px;
  margin-bottom:25px;
  margin-top:25px;
  background-color:#FFFFFF;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}

.lv-title{
  font-size:1.2em;
  font-weight:300;
  color:#818181;


}

.lv-header{
  background-color:#F8F8F8;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
}

.lv-item{
  background-color:#FFFFFF;
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
  padding-bottom:20px;
  min-height:75px;
  position:relative;

  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.lv-item:hover{
  background-color:#E9E0FF;
}

.lv-bordered>.lv-header{
  border-bottom:1px solid #F0F0F0;
}

.lv-bordered>.lv-main-container>.lv-item:not(:last-child){
  border-bottom:1px solid #F0F0F0;
}

.lv-photo-container{
  height:50px;
}

.lv-photo-container>img{
  height:50px;
  width: 50px;
  border-radius:50%;
}

.photo-placeholder{
  height:50px;
  width:50px;
  border-radius:50%;
  text-align: center;
  line-height: 49px;
  font-size: 25px;
  padding: 0 !important;
  text-transform: uppercase;
  background-color:pink;
  color:#FFFFFF;
  font-weight:300;
}

.lv-item-content{
  width:auto;
  display:inline-table;
  vertical-align:top;
  margin-top: 10px;
}


.lv-item-content>.lv-item-title{
  font-size:1.2em;
  color:#4D4D4D;

  max-width:200px;

  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}

.lv-photo-container>.lv-item-title{
  margin-top:-25px;
  margin-left: 60px;
  font-size:1.2em;
  color:#4D4D4D;
}

.lv-meta{
  margin-left: -40px;
}

.lv-meta>li{
  display:inline-table;
  border:1px solid #EDEDED;
  padding-left:5px;
  padding-right:5px;
  padding-top:5px;
  padding-bottom:5px;
  background-color:#FFFFFF;
  color:#A8A8A8;
  font-size:0.8em;
}

.lv-meta>li.lv-meta-i-info{
  background-color: $notify-info-bg;
  border-color: $notify-info-border;
  color: #FFFFFF;
}

.lv-meta>li.lv-meta-i-success{
  background-color: $notify-success-bg;
  border-color: $notify-success-border;
  color: #FFFFFF;
}

.lv-meta>li.lv-meta-i-primary{
  background-color: #6B51A6;
  border-color: #6639a6;
  color: #FFFFFF;
}

.lv-item-menu{
  /*float:right;*/
  position:absolute;
  top:0;
  right:25px;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;

  vertical-align:top;
  font-size:1.5em;
  color:#787878;

  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.lv-item-menu>a{
  color:#787878;
}

.lv-item-menu>i{
  vertical-align:middle;
}

.lv-dropdown{
  top:32px;
  border-radius:0;
}


.lv-item-menu>a:hover{
  color:#404040;
}

.lv-link,.lv-link:hover,.lv-link:active{
  text-decoration: none;
}

.lv-side-menu{
  float:right;
}


.lv-side-button{
  border: none;
  background: transparent;
}

.lv-refresh-active{
  color:#8F6BFA;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

.list-view-container>.lv-main-container:not(:last-child)>.lv-item{
  border-bottom: 1px solid #F5F5F5;
}

.lv-main-container{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lv-badge{
  font-size: 0.8em;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: $notify-info-bg;
  color: #FFFFFF;
}

/*Profile*/
.rfs-profile-image{
  text-align: center;
  margin-bottom: 25px;
}

.rfs-profile-image>img{
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
}

/*Mobile*/
.rfs-profile-line>dl>dt, .rfs-profile-line>dl>dd{
  display: block;
}

.rfs-profile-line>dl>dd{
  margin-left: 0;
}


.rfs-profile-line{
  width: 100%;
}

.rfs-profile-line>dl>dd{
  font-weight: 400;
}

.rfs-profile-line>dl>dd{
  font-weight: 300;
}

/*Forms*/
.rfs-forms-textarea{
  width: 100%;
  resize: none;
  border: none;
  min-height: 75px;
  border-bottom: 1px solid #E0E0E0;
  color: $input-text-default;
  @include animate-simple(all,0.5s);
}

.rfs-input-gp{
  margin-top: 15px;
}

.rfs-forms-input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  height:25px;
  background-color: transparent;
  @include animate-simple(all,0.5s);
}

.rfs-forms-input-has-error{
  border-color: #FA4365 !important;
}

.rfs-forms-input:focus{
  border-bottom: 1px solid #BA89FA;
}

.rfs-input-gp-suffix{
  float: right;
  right: 0;
  margin-top: -25px;
}

.rfs-forms-input, .rfs-input-gp-suffix{
  display: inline-block;
}

.rfs-forms-textarea:not(:focus){
  overflow: hidden;
}

.rfs-forms-textarea:focus{
  border-bottom: 1px solid #BA89FA;
  color: $input-text-active;
}

.rfs-input-lg-gp input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  @include animate-simple(all,0.5s);
}

.rfs-input-lg-gp input:focus{
  border-bottom: 1px solid #BA89FA;
}

.rfs-input-lg-gp-input-lg{
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 20px;
}

/*noUISlider Extension*/
.noUi-horizontal{
  margin-top:5px;
  border:none;
  height: 8px;
  background-color: #DEDEDE;
  border-radius: 0;
  box-shadow: none;
}

.noUi-handle:before,.noUi-handle:after{
  content: none;
}

.noUi-horizontal .noUi-handle{
  top: -10px;
  height: 25px;
  width: 25px;
  border: none;
  background-color: #D10D75;
  @include drop-shadow();
  border-radius: 100%;
  left:0px;
  right:-17px;
}

.noUi-origin{
  background-color: #DEDEDE;
}


.noUi-stacking .noUi-handle{
  margin-left:-17px;
}

.noUi-handle .noUi-stacking{
  left:-17px;
}

.rfs-forms-slider-values{
  margin-top:10px;
}

.rfs-forms-slider-values-min,.rfs-forms-slider-values-max{
  display:inline-table;
  font-size:1.2em;
  font-weight: 300;
}

.rfs-forms-slider-values-current{
  text-align: center;
  margin-top: -1.2em;
  font-size:1.2em;
  font-weight: 600;

}

.rfs-forms-slider-values-current-value{
  border-bottom: 1px solid #E0E0E0;
  color: $input-text-default;
  padding-left:5px;
  padding-right: 5px;
  @include animate-simple(all,0.5s);
}

.rfs-forms-slider-values-current-value-active{
  border-bottom: 1px solid #BA89FA;
  color: $input-text-active;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rfs-forms-slider-values-max{
  float: right;
}

.rfs-forms-slider-values-current-value-editor{
  min-width:50px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #BA89FA;
  text-align:center;
  @include animate-simple(all,0.2s);
}

.rfs-forms-slider-values-current-value-editor-error-desc{
  font-size:0.7em;
  color: #FC3564;
}

/*Buttons*/
.rfs-forms-lg-submit{
  width:100%;
  border-radius: 0;
}

.rfs-forms-submit{
  margin-bottom: 15px;
}

.rfs-modal-blackout{
  position: absolute;
  z-index: 99999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(000,000,000,0.8);
  display:none;
}

/*Notify*/
.rfs-notify-container{
  position: fixed;
  max-width: 60%;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  z-index: 999999;
  border: 1px solid;
  border-top: 0;
  @include drop-shadow();
  opacity: 0.9;
  display: none;
}

.rfs-notify-animator{
  @include animate-simple(all,0.5s);
}

.rfs-notify-container:hover{
  opacity: 1!important;
}

.rfs-notify-content{
  padding-left:25px;
  padding-right:25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rfs-notify-title,.rfs-notify-text{
  color: #FFFFFF;
}

.rfs-notify-title{
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 5px;
}

.rfs-notify-text{
  font-weight: 300;
}


.rfs-notify-content-left,.rfs-notify-content-right{
  /*display: inline-table;*/
}

.rfs-notify-content-right{
  margin-left: 4.3em;
}

.rfs-notify-content-left{
  float:left;
}

.rfs-notify-content-left i{
  font-size: 3.5em;
  color: #FFFFFF;
}

.rfs-notify-progress{
  height: 5px;
  background-color: hotpink;
  width: 100%;
  @include animate-simple(all,0.1s);
}

.rfs-notify-fail{
  background-color: $notify-fail-bg;
  border-color: $notify-fail-border;
}

.rfs-notify-success{
  background-color: $notify-success-bg;
  border-color: $notify-success-border;
}

.rfs-notify-info{
  background-color: $notify-info-bg;
  border-color: $notify-info-border;
}

.rfs-notify-success .rfs-notify-progress{
  background-color: $notify-success-border;
}

/*Autocomplete*/
.rfs-autocomplete{
  width: 100%;
  max-height: 200px;
  overflow: scroll;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  @include drop-shadow();
  position: absolute;
  top: 0;
  left: 0;
}

.rfs-autocomplete-results{
  list-style: none;
  margin-left: -40px;
}

.rfs-autocomplete-results li{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  @include animate-simple(all,0.5s);
}

.rfs-autocomplete-results li:hover{
  background-color: #D7D3F2;
}

/*Animations*/
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }