body {
  font-family: roboto, Helvetica; }

.login-container {
  position: absolute;
  min-width: 400px;
  max-width: 95%; }

.login-branding {
  width: 100%;
  height: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F1001C; }

.login-branding > img {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  height: 42px;
  width: 150px; }

.login-header {
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 10px; }

.login-background-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-image: url("../images/bg_.jpg");
  background-size: cover;
  background-position: top center;
  -moz-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  overflow: hidden;
  z-index: -1;
  -webkit-filter: blur(2px); }

.login-footer {
  text-align: right;
  color: #FFFFFF;
  margin-top: -10px;
  position: absolute;
  right: 10px;
  -webkit-transition: all "0.5s" linear;
  -moz-transition: all "0.5s" linear;
  transition: all "0.5s" linear; }

.footer-quote {
  display: none; }

.loading-message {
  text-align: center;
  font-size: 1.3em;
  font-weight: 300;
  padding-bottom: 10px; }

.login-loading-container {
  display: none; }

.login-feedback {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #F547A9;
  background-color: #FFEDF7;
  font-size: 1.2em;
  font-weight: 300;
  display: none; }

.login-form-elements {
  width: 95%;
  margin-left: auto;
  margin-right: auto; }

.offline-page-title {
  text-align: center;
  font-size: 1.3em;
  font-weight: 300;
  color: #616161; }

.offline-page {
  text-align: center;
  margin-top: 50px; }

.assessment-scheme-create-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px; }

.assessment-component-container {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-left: 2px dotted #DCDDDE; }

.create-component-container {
  position: fixed;
  z-index: 99;
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.2em;
  background-color: white; }

.component-container-animator {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.assessment-component-assigned {
  margin-top: 10px; }

.assessment-component-assigned ul {
  padding-left: 20px; }

.assignment-staff-delete {
  color: #ED6F6F; }

.assignment-staff-delete:before {
  content: " [x]"; }

.import-select-method {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

.import-type-container {
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px; }

.import-type-table tbody tr td input:not(:focus) {
  border-color: transparent; }

.list-student-info {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px; }

.edit-staff-warning {
  display: block;
  border: 1px solid #FAB9CB;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #F05B85;
  color: #FFFFFF;
  font-weight: 300; }

.results-container {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
  margin-bottom: 15px; }

.results-container-student-info {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6; }

.results-container-student-info table tr td {
  font-size: 1.3em;
  font-weight: 500; }

.results-container-student-info table tr td:not(:first-child) {
  padding-left: 25px;
  font-weight: 300; }

.results-components-container {
  margin-top: 10px; }

.header {
  font-size: 1.5em;
  font-weight: 300; }

.component-title {
  font-size: 1.3em;
  font-weight: 300; }

.results-average {
  margin-top: 10px;
  font-size: 1.2em; }

.result-average-number {
  font-weight: 300; }

.scores-container {
  margin-top: 15px; }

.scores-container table tr td {
  border: 1px solid #E6E6E6;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

.scores-container table {
  width: 100%; }

.scores-header {
  font-size: 1.3em;
  font-weight: 300; }

.scores-staff-name {
  width: 30%; }

.score-not-submitted {
  color: #E84676; }

.results-components-single {
  margin-top: 15px; }

.score-not-submitted:after {
  content: "Score not submitted!"; }

.results-container-single {
  margin-top: 25px;
  margin-bottom: 25px; }

.results-container-single {
  page-break-before: always; }

/*# sourceMappingURL=master.css.map */
